<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/thumbnails.css")
</head>
<body>
    <div class="navbar-w">
        <div class="container-w">
            <div class="navbar-left navbar-image">
                <a href="@Url.Action("Index", "Gallery")">
                    <img alt="home" src="~/fonts/Yael.png" />
                </a>
            </div>
            <div class="navbar-collapse-w">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-w body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
