@using TheGalery.Web.Models
@model HomeViewModel
@{
    ViewBag.Title = "The Galery";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/galleria-1.4.2.min.js"></script>

<style>
    .galleria {
        width: 768px;
        height: 400px;
        background: #333333;
    }
</style>

<div class="galleria">
    <img src="~/Images/WP_20141203_07_39_58_Pro.jpg" />
    <img src="~/Images/WP_20141203_07_40_16_Pro.jpg" />
    <img src="~/Images/WP_20141203_07_40_26_Pro.jpg" />
</div>
<script>
    Galleria.loadTheme('themes/classic/galleria.classic.min.js');
    Galleria.run('.galleria', {
        autoplay: 2000,
        
    });
</script>


<ul class="thumbnails" data-role="listview">
    @foreach (ImageGroupViewModel imageGroup in @Model.Images)
    {
        string thumbnailpath = Url.Action("Thumbnail", "Home", new { name = imageGroup.GroupName });
        string imagePath = Url.Action("Images", "Home", new { name = imageGroup.GroupName });
        <li>
            <a href="@imagePath">
                <span class="below-image">@imageGroup.GroupName</span>
                <span>(@imageGroup.Count)</span>
                <img alt="Images from @imageGroup.GroupName" src="@thumbnailpath" class="thumbnail-no-border" />
            </a>
        </li>
    }
</ul>

