@using TheGalery.Web.Models
@model HomeViewModel
@{
    ViewBag.Title = "The Galery";
}

<!--START JUICEBOX EMBED-->
<script src="jbcore/juicebox.js"></script>
<script>
    new juicebox({
        containerId: 'juicebox-container',
        galleryWidth: '70%',
        galleryHeight: '70%',
        backgroundColor: "#333333"
    });
</script>
<div id="juicebox-container"></div>
<!--END JUICEBOX EMBED-->

<ul class="thumbnails" data-role="listview">
    @foreach (ImageGroupViewModel imageGroup in @Model.Images)
    {
        string thumbnailpath = Url.Action("Thumbnail", "Home", new { name = imageGroup.GroupName });
        string imagePath = Url.Action("Images", "Home", new { name = imageGroup.GroupName });
        <li>
            <a href="@imagePath">
                <span class="below-image">@imageGroup.GroupName</span>
                <span>(@imageGroup.Count)</span>
                <img alt="Images from @imageGroup.GroupName" src="@thumbnailpath" class="thumbnail-no-border" />
            </a>
        </li>
    }
</ul>